
*{
    box-sizing: border-box;
    }
    html,body {
    min-height:100%;
}
body {
    background: #222223;
    background-image: url(../img/elevation-bg.png);

    font-family: "Roboto", Sans;
}

.logo {
  width: 1000px;
  margin: 0 auto;
  color: #FFF;
  text-align: center;
  margin: 1em auto;
}
.slider {
  width: 1000px;
  /* height: 350px; */
  margin: 0 auto 2em;
  /* border: 5px solid #FFF; */
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
  position: relative;
  z-index: 1;

}
.controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.pages {
    transform: translateY(50%);
    padding: 1em; margin: 0;
    height: 45px;
    background-color: #fff;
}
.pages li {
    float: left;
    display: block;
    margin: 0 1em;
    border-radius: 5000px;
    background-color: #fff;
    border: 2px solid #1B5E8C;
    width: 15px; height: 15px;
}
.pages li.active {
    background-color: #1B5E8C;
}

.slider img {
    display: block;
}
.wrapper {
    width: 1000px;

  margin: 0 auto;
    color: #1b5e8c;

}
.page {
  margin: 1em 1em 1em 0;
}
.recruitment-wrapper {
  margin: 1em 0 1em 1em;
  width: 100%;
}

.recruitment__title {
  color: #FFF;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 0.5em;
}
.recruitment__body {
  display: flex;
  flex-flow: wrap row;
  flex: 1 1 0%;
}
.recruitment__body__class {
  display: block;
  flex: 0 1 200px;
  margin: 0 .1em 1em;
  color: #333;
}
.recruitment__body__class .class_spec{

}
.class_spec {
  margin-bottom: 1px;
  margin-right: 1em;
  padding: .2em .4em;
  background-color: #c9c9c9;
}

.class_spec--dk {
  border-left: 4px solid;
  border-color: #C41F3B;

}
.class_spec--druid {
  border-left: 4px solid;
  border-color: #FF7D0A;

}
.class_spec--hunter {
  border-left: 4px solid;
  border-color: #ABD473;

}
.class_spec--mage {
  border-left: 4px solid;
  border-color: #69CCF0;

}
.class_spec--monk {
  border-left: 4px solid;
  border-color: #00FF96;

}
.class_spec--paladin {
  border-left: 4px solid;
  border-color: #F58CBA;

}
.class_spec--priest {
  border-left: 4px solid;
  border-color: #FFFFFF;

}
.class_spec--rogue {
  border-left: 4px solid;
  border-color: #FFF569;

}
.class_spec--shaman {
  border-left: 4px solid;
  border-color: #0070DE;

}
.class_spec--warlock {
  border-left: 4px solid;
  border-color: #9482C9;

}
.class_spec--warrior {
  border-left: 4px solid;
  border-color: #C79C6E;
}

.class_spec--not-recruiting {
  background-color: rgba(0, 0, 0, 0.2);
  color: #444;
  border-color: #444;
}



.menu {
  width: 1000px;
  background-color: #FFF;
  /* border: 5px solid #FFF; */
  color: #1B5E8C;
  display: flex;
  list-style: none;
  justify-content: space-around;
  text-align: center;
  padding: 0;
  margin: 2em auto 0;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5);
   -webkit-perspective: 1000;
   z-index: 2;
   position: relative;
}
.menu>li {
    padding: 1em 2em;
    transition: all .3s ease;
   _transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-filter: blur(0);

}
.menu>li:hover {
    background-color: #fff;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  transform-style: preserve-3d;
}
.menu .current {
  border-bottom: 5px solid #C9C9C9;
  background-color: #FFF;
  transform: scale(1.2);
  transform-style: preserve-3d;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5);
}
.desc {
    padding: 1em;
    background-color: #c9c9c9;

    background: #C9C9C9;
    border: 1px solid #fff;
}


.raids {
  display: flex;
}
.raid {
  flex: 0 1 300px;
}
.raid h2 {
  color: #FFF569;
}
.boss {
  background-color: rgba(0,0,0,0.2);
  color: #444;
  flex: 0 0 auto;
  border-left: 4px solid #444;
  margin-right: 1em;
  margin-bottom: 2px;
  padding: .2em .4em;
}
.boss.dead {
  background-color: #C9C9C9;
  border-left-color: #0070DE;
}
